<div class="page-wrapper">

    <!-- MENU SIDEBAR-->
    <aside class="menu-sidebar d-none d-lg-block">
       
        <div class="logo">
            <a href="#">
                <img src="assets/images/logos.png" alt="shopme" class="img-responsive">
            </a>
        </div>

         <app-product-category-menu> </app-product-category-menu> 
    
    </aside>
    
    <div class="jumbotron page-container">
        
    
        <div class="centre" height="100%">
            <br>
            <br>
            <h1>PAGE NOT FOUND WORKS!!</h1>
            
        </div>

    </div>

</div>
<!-- End page container-->

