<div class="main-content">

    <div class="section-content section-content-p30">
    
        <div class="container-fluid">

            <form class="row g-3">

                <div class="col-md-6">
                  <label for="inputEmail4" class="form-label">RECIPIENT NAME</label>
                  <input type="email" class="form-control" id="inputEmail4">
                </div>

                <div>
                </div>
                
                <div class="col-md-6">
                  <label for="inputPassword4" class="form-label">CONTACT NUMBER</label>
                  <input type="number" class="form-control" id="inputPassword4">
                </div>

                <div class="col-12">
                  <br>
                </div>
                                
                <div class="col-12">
                  <label for="inputAddress" class="form-label">ADDRESS LINE 1</label>
                  <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                </div>

                <div class="col-12">
                  <br>
                </div>
                
                <div class="col-12">
                  <label for="inputAddress2" class="form-label">ADDRESS LINE 2</label>
                  <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                </div>
                
                <div class="col-12">
                  <br>
                </div>

                
                <div class="col-md-6">
                  <label for="inputCity" class="form-label">CITY</label>
                  <input type="text" class="form-control" id="inputCity">
                </div>
                
                <div class="col-md-4">
                  <label for="inputState" class="form-label">STATE</label><br>
                  <select id="inputState" class="form-select">
                    <option selected>Choose...</option>
                    <option>...</option>
                  </select>
                </div>
                
                <div class="col-md-2">
                  <label for="inputZip" class="form-label">PINCODE</label>
                  <input type="text" class="form-control" id="inputZip">
                </div>
                
                
                <div class="col-12">
                  <br>
                </div>
                
                <div class="col-12">
                  
                </div>

                
            </form>

            <br>
            <div class="mx-auto" style="width: 200px;">
                <button type="submit" class="btn btn-primary">PROCEED TO PAYMENT</button>
            </div>
            
            
        </div>
    
    </div>

</div>

